 
    .logo {
        display: flex;
        font-family: 'Raleway', sans-serif;
        color: $secondary-color;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.2;
    }

.header-container{
	display: flex;
	align-items: center;
}

.header__navbar {
	height: 80px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	
	align-items: center;
}
.border-header {
	border-bottom: 1px solid #ECECEC;
}
.header__navigation {
	width: 380px;
	display: flex;
	padding-left: 93px;
	margin: 0;
	justify-content: space-between;
}

.header__contacts {
	
	padding: 0;
	margin: 0 0 0 auto;
}

.header__item {
.header__link {
	color: $primary-color;
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.1;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		color: $secondary-color;
	}
	&:focus {
		color: $secondary-color;
	}
}
}

.header__contact__item{
.header__contact__link {
	color: $detail-color;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.1;
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		color: $secondary-color;
	}
	&:focus {
		color: $secondary-color;
	}
} 
.header__contact__icon {
	fill: currentColor;
	margin-right: 10px;
	&:hover {
		fill: $secondary-color;
	}
}
}

@media screen and (max-width: 767px) {
	.header-container{
		padding-top: 5px;
			padding-bottom: 4px;
			padding-right: 27px;
	}
	
	.logo{
		font-size: 24px;
	}
	.page-header{
		height: 60px;
	}
	.header__navigation {
			display: none;
		}
	.header__contacts {
		display: none;
	}
		.header__navbar {
			justify-content: left;
			height: 60px;
		}
}
@media screen and (min-width: 768px) {
	
	.header__contacts{
		display: flex;
		flex-direction: column;
	}
		.header__contact__item:not(:last-child){
			margin-bottom: 10px;
		}
			
						.header__link--current {
							color: $secondary-color;
							position: relative;
			
							&::after {
								content: "";
								position: absolute;
								left: 0;
								top: 44px;
								bottom: 0;
								display: inline-block;
								width: 100%;
								height: 4px;
								background-color: $secondary-color;
								border-radius: 2px;
							}
						}
												
}

@media screen and (min-width: 1200px){
	.header__contacts{
		flex-direction: row;
		align-items: center;
	}
	.header__contact__item:not(:last-child){
		margin-bottom: 0;
		margin-right: 50px;
	}
	.header__contact__item{
			.header__contact__link {
					font-size: 14px;
				}
	}
	
}