.section-3 {
	background-color: $bg-section;
	padding-top: 89px;
	padding-bottom: 94px;
}
.our-team {
	display: flex;
	flex-direction: column;
    .our-team__title {
	display: flex;
	justify-content: center;
	margin: 0;
	padding-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	letter-spacing: 0.03em;
}
}

.team-cards {
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
    .team-cards__member {
	background-color: $bg-card;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
}

.member-card-body {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 30px;
    .member-card-body__name {
	padding: 30px 0 10px 0;
	margin: 0;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.2;
}
    .member-card-body__position {
	display: flex;
	justify-content: center;
	padding: 0 0 16px 0;
	margin: 0;
	color: $detail-color;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
}
}


.member-card-body__social {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
    .member-card-body__icon--focused {
	display: grid;
	place-items: center;
	width: 44px;
	height: 44px;
	background-color: $text-white;
	border-radius: 50px;
	cursor: pointer;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		background-color: $secondary-color;
		.icon--focused {
			fill: $text-white;
		}
	}
	&:focus {
		background-color: $secondary-color;
	}
}
}

.icon {
	fill: $icon;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}