.section-4{
	padding: 30px 0;
	text-align: center;
}
 .customers__title {
	font-weight: 700;
	font-size: 28px;
	line-height: 42px;
	letter-spacing: 0.03em;
}


.customer-logos {
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
	margin-top: -30px;
	margin-left: -30px;
    .customer-logos__item--focused {
		height: 92px;
		margin-top: 30px;
		margin-left: 30px;
		flex-basis: calc((100% - 60px) / 2);
		display: flex;
		justify-content: center;
		align-items: center;
		
		border: 1px solid $icon;
		border-radius: 4px;
		width: 170px;
		height: 81px;
	cursor: pointer;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		border: 1px solid $secondary-color;
		.customer-logos__link--focused {
			fill: $secondary-color;
		}
	}
    .customer-logos__link--focused {
	fill: $icon;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
}
}

@media screen and (min-width: 768px){
	.customer-logos{
			.customer-logos__item--focused {
					flex-basis: calc((100% - 90px) / 3);
				}
	}
		
}

@media screen and (min-width: 1200px){
	.section-4{
			padding: 94px 0;
	}
	.customers__title{
		margin-top: 0;
			margin-bottom: 50px;
			font-size: 36px;
				line-height: 1.17;
	}
		.customer-logos{
			margin-bottom: 0;
			.customer-logos__item--focused{
				flex-basis: calc((100% - 180px) / 6);
			}
		}
}